<footer id="footer">
    <section>
      This was done for a project for AP US History, by Cade Brown and Andrew Hill. You can see the source for the website <a href="https://github.com/knoxschools/hiddenfigures">here</a>.      
    </section>
  
  <section class="split contact">

      <section>
          <h3>Email</h3>
        <p><a href="mailto:s755170@student.knoxschools.org">Cade Brown  &lt;s755170@student.knoxschools.org&gt;</a></p>

    </section>
    <section>
        <h3>Email</h3>
    <p><a href="mailto:s1005669@student.knoxschools.org">Andrew Hill  &lt;s1005669@student.knoxschools.org&gt;</a></p>
    </section>
      </section>
</footer>
<!-- Copyright -->
<div id="copyright">
  <ul><li></li></ul>
</div>

